/* You're welcome to change any of this! */
main{
    color:darkgreen ;
    background-color: rgb(39, 248, 53);
    padding-top: 1in;
    padding-bottom: 1in;

}

header{
    color: darkgreen;
    background-color: rgb(39, 248, 53);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}
